{% extends 'inc/base.html' %}
{% load static %}

{% block content %}
<div class="col-9">
    <div class="row">
        <span class="h2">New Questions</span>
        <a class="h4 col-5 second-text" href="{% url 'hot_questions' %}">Hot Questions</a>
    </div>

    {% for question in questions %}
        {% include 'inc/question_box.html' %}
    {% endfor %}

    {% with objects=questions %}
        {% include 'inc/pagination.html'%}
    {% endwith %}

</div>

{% endblock content %}

{% block jscode %}
    <script src="{% static 'js/vote.js' %}"></script>
    <script src="{% static 'js/correct.js' %}"></script>
{% endblock jscode %}