{% extends 'inc/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="col-9">
    <div class="row">
        <span class="h2 col-1">Registration</span>
    </div>
{#    <span class="badge badge-danger">Sorry, this email address already registred!</span>#}
    <form method="POST" novalidate enctype="multipart/form-data">
       {% csrf_token %}
       {% bootstrap_form form %}
       {% buttons %}
            <button type="submit" class="btn btn-primary col-2">Regiter!</button>
       {% endbuttons %}
    </form>
</div>

{% endblock content %}