<div class="container font-weight-bolder" id="answer-{{ answer.pk }}" style="margin-left: 15px;">
    {{ answer.rating }}
</div>
<div class="btn-group" role="group" aria-label="LikeDislike">
    <button type="button" id ="answer-dislike-{{ answer.pk }}" class="js-vote btn btn-danger" data-class="answer" data-action="dislike" data-id="{{ answer.id }}" >-</button>
    <button type="button" id ="answer-like-{{ answer.pk }}" class="js-vote btn btn-success" data-class="answer" data-action="like" data-id="{{ answer.id }}" >+</button>
</div>