{% load static %}
<div class="font-weight-bolder" id="question-{{ question.pk }}">
    {{ question.rating }}
</div>
<div class="btn-group float-lg-right" role="group" aria-label="LikeDislike">
    <button type="button" id ="question-dislike-{{ question.pk }}" class="js-vote btn btn-danger" data-class="question" data-action="dislike" data-id="{{ question.id }}" >-</button>
    <button type="button" id ="question-like-{{ question.pk }}" class="js-vote btn btn-success" data-class="question" data-action="like" data-id="{{ question.id }}" >+</button>
</div>