<div class="col-3">
    <div class="col">
        <div>
            <h3 class="second-text font-weight-bolder">Polular Tags</h3>
            
            {% for tag in tags %}
                <a href="{% url 'tag' tag %}" class="h7">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    <div class=col>
        <div>
            <h3 class="second-text font-weight-bolder" >Best Members</h3>
        </div>

        {% for best_user in best_users %}
            <p><a class="underlined" href="">{{ best_user }}</a></p>
        {% endfor %}
    </div>
</div>