{% load static %}
<div class="container font-weight-bolder" id="question-{{ question.pk }}" style="margin-left: 15px;">
    {{ question.rating }}
</div>
<div class="btn-group" role="group" aria-label="LikeDislike">
        <button type="button" id ="question-dislike-{{ question.pk }}" class="js-vote btn btn-danger" data-class="question" data-action="dislike" data-id="{{ question.id }}" >-</button>
        <button type="button" id ="question-like-{{ question.pk }}" class="js-vote btn btn-success" data-class="question" data-action="like" data-id="{{ question.id }}" >+</button>
</div>